* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: $mainFont;
  color: black;

  position: relative;
  .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.navActive {
  border-bottom: solid 1px black;
}
a {
  color: white;
}

.parralax {
  background-attachment: fixed; /* Fixe l'image pendant le scroll */
  background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
  background-position: center; /* Centre la position de l'image */
  background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
  background-image: url("../../../../public/img/bannerMain.webp");
  height: 100vh;
}
.parralax2 {
  background-attachment: fixed; /* Fixe l'image pendant le scroll */
  background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
  background-position: center; /* Centre la position de l'image */
  background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
  background-image: url("../../../../public/img/banner2main.webp");
  height: 100vh;
}

.parralax3 {
  background-attachment: fixed; /* Fixe l'image pendant le scroll */
  background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
  background-position: center; /* Centre la position de l'image */
  background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
  background-image: url("../../../../public/img/banner3.webp");
  height: 100vh;
}
