.navigation {
  ul {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-weight: 300;
    gap: 30px;

    li {
      width: max-content;
      color: black;
      font-size: 15px;
      scale: 1;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
