.banner {
  position: relative;
  .title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    h2 {
      font-family: "Cormorant Garamond", serif;
      font-size: 50px;
    }
  }
  .btnResa {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: transparent;
    color: white;
    border: solid 1px white;
    font-size: 15px;
    scale: 1;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.aboutUs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  .textAbout {
    width: 50%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .textContent {
      width: 80%;
      text-align: justify;
      h3 {
        font-size: 40px;
        margin-bottom: 40px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .imgAbout {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 90%;
      object-fit: cover;
      border: solid 1px black;
      padding: 5px;
    }
  }
}

.banner2 {
  position: relative;
  .banner2Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
    background: rgba(0, 0, 0, 0.3);

    .banner2Content {
      width: 60%;
      text-align: center;
      color: white;

      h2 {
        font-family: "Cormorant Garamond", serif;
        font-size: 60px;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
.reservation {
  width: 80%;
  margin: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
  }
  p {
    margin-bottom: 30px;
  }
  form {
    display: flex;
    gap: 40px;
    input {
      border: solid 1px black;
      padding: 8px 5px;
      width: 300px;
      margin-bottom: 10px;
    }
    .leftForm {
      display: flex;
      flex-direction: column;
    }
    .formRight {
      display: flex;
      flex-direction: column;
    }
    textarea {
      border: solid 1px black;
      width: 300px;
      height: 80%;
      margin-bottom: 20px;
      padding: 20px;
      resize: none;
    }
    .submit {
      width: 150px;
    }
  }
}
